.Card {
    
    background-color: rgba(218, 204, 49, 0.175);
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    height: 550px;
    min-height: 550px;
    width: 410px;
    min-width: 410px;
    border-radius: 30px;
    backdrop-filter: blur(15px); /* para usar bluer es necesario tener transparencia en el background*/
}

.temperaments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem; /* espacios en las columnas horizontales*/
     
}

.linkDetail {
    color: black;
    text-decoration: none;
}

.image{
    height: 230px;
    min-height: 230px;
    max-height: 230px;
}

