.divGeneral {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    /* background:  linear-gradient(to bottom, #2b2b2b41 0%, #0000005f 15%),
    url("../styles/img/perroRosa.jpg" ); */
    background: url('./img/watercolor-seamless-pattern-dogs-white-background-dog-pet-puppy-animal-wallpaper-154971180.jpg');
    background-size: cover;
    object-fit: contain;
}

.formulario {
    background-color: rgba(255, 255, 255, 0.364);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

input {
    margin: 1rem;
}

.tempsPick {
    background-color: rgba(255, 255, 255, 0.364);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    margin: 10px;
    width: 150px;
    height: 50px;
    
}

/* .btn {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    text-align: center;
} */